:root {
    --primary-color: #4b99d4;
    --secondary-color: #54c2e6;
    --tertiary-color: #afd8bc;
    --title-color: #303030;
    --text-color: #616161;
    --danger-color: #FF7C6C;
}

@font-face {
    font-family: 'Monserrat Bold';
    src: url("../assets/fonts/montserrat/Montserrat-Bold.otf") format("truetype");
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url("../assets/fonts/open-sans/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url("../assets/fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url("../assets/fonts/open-sans/OpenSans-ExtraBold.ttf") format("truetype");
}

html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    &.__dark {
        background: #24252a;
        header {
            background-color: #1C2A39;
            .app-title {
                .title {
                    color: #ffffff;
                }
            }
            .window-controls {
                background: transparent;
                .control {
                    &:last-child {
                        background-color: transparent;
                    }
                    &:hover {
                        background-color: rgba(0, 0, 0, .75);
                    }
                }
            }
        }
    }
}

input[type=range] {
    margin-left: 10px;
    margin-right: 10px;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.5px;
    cursor: pointer;
    background: #ffffff;
}

input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 5px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fafafa;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

header {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    .picado-logo-menu {
        -webkit-app-region: no-drag;
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo {
            width: 30px;
            text-align: center;
            .pica {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
    .app-title {
        -webkit-user-select: none;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        .title {
            font-size: .7rem;
            color: var(--title-color);
            font-family: 'Open Sans Regular';
        }
    }
    .window-controls {
        -webkit-app-region: no-drag;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 50%, var(--tertiary-color) 100%);
        .control {
            width: 40px;
            height: 30px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            transition: all .2s ease;
            background-color: transparent;
            color: #ffffff;
            &:last-child {
                background-color: rgba(0, 0, 0, .75);
            }
        }
    }
}

.getting-stared {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
    visibility: hidden;
    .say-hi-picado {
        width: 550px;
        padding: 25px 50px 25px 50px;
        background-color: #ffffff;
        border: 1px solid #eee;
        position: relative;
        transition: all .8s ease;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
        .pica-bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 5px;
            background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 50%, var(--tertiary-color) 100%);
        }
        .branding {
            text-align: center;
        }
        .welcoming {
            text-align: center;
            .title {
                font-family: 'Monserrat Bold';
                color: var(--title-color);
            }
            .text {
                font-size: .75rem;
                font-family: 'Open Sans Regular';
                color: var(--text-color);
            }
        }
        .recents-project {
            .header {
                margin-top: 45px;
                margin-bottom: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .label {
                    font-size: .9rem;
                    color: var(--title-color);
                    font-family: 'Open Sans Bold';
                }
                .display-toggler {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .display {
                        width: 30px;
                        height: 30px;
                        background-color: #fafafa;
                        border: none;
                        color: #eee;
                        transition: all .4s ease;
                        outline: none;
                        &:hover {
                            background-color: #ffffff;
                        }
                        &.active {
                            color: var(--primary-color);
                        }
                    }
                }
            }
            .projects {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                max-height: 220px;
                overflow: auto;
                position: relative;
                &::-webkit-scrollbar {
                    width: 2.5px;
                }
                &#recentlyProjectNode__grid,
                &#recentlyProjectNode__list {
                    display: none;
                }
                &.grid {
                    div {
                        width: 100px;
                        height: 100px;
                        background-color: #fafafa;
                        border-radius: 5px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        transition: all .4s ease;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            object-fit: cover;
                        }
                        .close-btn {
                            width: 30px;
                            height: 30px;
                            background-color: #ffffff;
                            border-radius: 50%;
                            border: none;
                            position: absolute;
                            top: 50px;
                            right: 5px;
                            opacity: 0;
                            transition: all .4s ease;
                            outline: none;
                        }
                        cursor: pointer;
                        &:hover {
                            .close-btn {
                                opacity: 1;
                                top: 5px;
                            }
                        }
                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }
                &.list {
                    flex-direction: column;
                    .project {
                        width: 75%;
                        padding: 10px 15px 10px 15px;
                        background-color: #fafafa;
                        border: 1px solid #eee;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 5px;
                        cursor: pointer;
                        margin-bottom: 5px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        .left {
                            .name {
                                font-family: 'Open Sans SemiBold';
                                color: var(--title-color);
                                font-size: .9rem;
                            }
                            .info {
                                font-family: 'Open Sans Regular';
                                color: var(--text-color);
                                font-size: .8rem;
                            }
                        }
                        .right {
                            .close-btn {
                                background-color: #ffffff;
                                width: 30px;
                                height: 30px;
                                color: var(--title-color);
                                border: none;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
        .start-new-project {
            text-align: center;
            margin-top: 30px;
            .start {
                padding: 8px 24px 8px 24px;
                border: none;
                color: #ffffff;
                outline: none;
                font-family: 'Open Sans Regular';
                border-radius: 5px;
                transition: all .4s ease;
                &:first-child {
                    background-color: var(--primary-color);
                }
                &:last-child {
                    background-color: var(--secondary-color);
                }
                &.focused {
                    opacity: .5;
                }
            }
        }
    }
}

.editor {
    margin-top: 30px;
    visibility: hidden;
    .top-toolbar {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .tools {
            display: flex;
            flex-direction: row;
            &.shortcut {
                .tool {
                    width: 40px;
                    height: 30px;
                    background-color: #1c1e22;
                    border: none;
                    color: #ffffff;
                    font-size: 1rem;
                    margin-right: 5px;
                    border-radius: 5px;
                    outline: none;
                    &:last-child {
                        margin-left: 15px;
                        margin-right: 0px;
                    }
                    &:nth-child(6) {
                        margin-left: 15px;
                    }
                }
            }
            &.infos {
                justify-content: center;
                &:nth-child(3) {
                    width: 400px;
                }
                .tool {
                    color: #ffffff;
                    margin-right: 10px;
                    &:nth-child(2) {
                        margin-right: 20px;
                    }
                    span {
                        font-size: .8rem;
                        font-family: 'Open Sans SemiBold';
                        margin-right: 5px;
                        &.box {
                            padding: 5px 7.5px 5px 7.5px;
                            background-color: #1c1e22;
                            margin-right: 0px;
                            border-radius: 5px;
                            font-family: 'Open Sans Regular';
                        }
                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 91%;
        .sidetools-container {
            width: 350px;
            height: 91%;
            position: relative;
            display: flex;
            align-items: center;
            .tools-container {
                width: 80px;
                background-color: #1c1e22;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                .tools {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    .link-tool {
                        padding: 30px;
                        margin-left: auto;
                        margin-right: auto;
                        transition: all .4s ease;
                        &.active {
                            background-color: #ffffff;
                            a {
                                color: #121416;
                            }
                            &:hover {
                                background-color: #ffffff;
                            }
                        }
                        a {
                            color: #ffffff;
                            text-decoration: none;
                            text-align: center;
                        }
                        &:first-child {
                            border-top-right-radius: 15px;
                        }
                        &:last-child {
                            border-bottom-right-radius: 15px;
                        }
                        &:hover {
                            background-color: #2b3035;
                        }
                    }
                }
            }
            .tools-option-container {
                position: relative;
                height: 100%;
                .tools-option {
                    visibility: hidden;
                    opacity: 0;
                    transform: translateX(-250px);
                    background-color: #1c1e22;
                    margin-left: 10px;
                    color: #ffffff;
                    border-radius: 10px;
                    padding-bottom: 15px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    &.show {
                        animation-name: slideFromLeft;
                        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        animation-duration: .4s;
                        animation-fill-mode: both;
                        .body {
                            .item-tool {
                                @for $i from 0 to 9 {
                                    &.__#{ $i } {
                                        animation-name: bounceIn;
                                        animation-timing-function: ease;
                                        animation-duration: .2s;
                                        animation-fill-mode: both;
                                        animation-delay: calc(100ms * #{ $i });
                                    }
                                }
                            }
                        }
                    }
                    &.hide {
                        animation-name: slideToLeft;
                        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        animation-duration: .4s;
                        animation-fill-mode: both;
                    }
                    .header {
                        width: 175px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding: 15px 20px 15px 20px;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                        .title {
                            font-family: 'Open Sans SemiBold';
                            font-size: .8rem;
                            text-transform: uppercase;
                        }
                        .action {
                            cursor: pointer;
                        }
                    }
                    .body {
                        padding: 15px 20px 15px 20px;
                        max-height: 750px;
                        overflow: auto;
                        &::-webkit-scrollbar {
                            width: 0px;
                        }
                        .item-tool {
                            padding: 10px 10px 0px 10px;
                            margin-bottom: 10px;
                            transition: all .4s ease;
                            border-radius: 10px;
                            position: relative;
                            &:hover {
                                background-color: #121416;
                            }
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            &.active {
                                background-color: #121416;
                            }
                            &.hide {
                                cursor: not-allowed;
                                &:hover {
                                    background-color: transparent;
                                }
                                .cover {
                                    filter: blur(8px);
                                    -webkit-filter: blur(8px);
                                }
                            }
                            .cover {
                                margin-left: auto;
                                margin-right: auto;
                                width: 100px;
                                height: 100px;
                                background-color: #1C2A39;
                                .cover-img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 5px;
                                }
                            }
                            .title {
                                padding: 10px;
                                text-align: center;
                                span {
                                    font-family: 'Open Sans Regular';
                                    font-size: .8rem;
                                }
                            }
                            .hided {
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                background-color: #ffffff;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                top: 25px;
                                right: 25px;
                                color: #EF5350;
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }
        .main {
            width: 100%;
            height: 91%;
            max-height: 91%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 0px;
            }
        }
        .organization-tools {
            width: 400px;
            height: 91%;
            padding: 10px 15px 10px 15px;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 0px;
            }
            .section {
                &:first-child {
                    .header {
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                }
                &:last-child {
                    .header {
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
                .header {
                    color: #ffffff;
                    font-family: 'Open Sans SemiBold';
                    font-size: .9rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #1C2A39;
                    padding: 0px 15px 0px 15px;
                    .action {
                        border: none;
                        background-color: transparent;
                        color: #ffffff;
                        outline: none;
                    }
                }
                .body {
                    overflow: hidden;
                    min-height: 300px;
                    max-height: 300px;
                    transition: all .2s ease-out;
                    background-color: #121416;
                    &.hide {
                        min-height: 0px;
                        max-height: 0px;
                    }
                    .historics {
                        max-height: 100%;
                        overflow: auto;
                        &::-webkit-scrollbar {
                            width: 0px;
                        }
                        .history {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            cursor: pointer;
                            transition: all .4s ease;
                            padding: 10px 15px 10px 15px;
                            &:hover {
                                background-color: #1C2A39;
                            }
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            .content {
                                color: #ffffff;
                                font-family: 'Open Sans Regular';
                                font-size: .75rem;
                                .title {
                                    font-family: 'Open Sans SemiBold';
                                }
                                .desc {
                                    color: rgba(255, 255, 255, 0.5);
                                }
                            }
                            .actions {
                                .action {
                                    border: none;
                                    background-color: transparent;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                    .ameliorations {
                        height: 300px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .amelioration {
                            margin-bottom: 20px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            .name {
                                color: #ffffff;
                                font-family: 'Open Sans SemiBold';
                                font-size: .9rem;
                            }
                            .control {
                                margin-top: 10px;
                                color: #ffffff;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                font-family: 'Open Sans Bold';
                                font-size: .9rem;
                            }
                            &.apply-undo {
                                display: none;
                                .apply-btn {
                                    padding: 5px 15px 5px 15px;
                                    background-color: #1C2A39;
                                    color: #ffffff;
                                    font-family: 'Open Sans Regular';
                                    border: none;
                                    border-radius: 5px;
                                    margin-right: 10px;
                                    &:last-child {
                                        margin-right: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-toolbar {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #1C2A39;
        padding: 5px 10px 5px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .tools {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .tool {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #ffffff;
                .label {
                    font-family: 'Open Sans Regular';
                    font-size: .75rem;
                    margin-right: 10px;
                    padding: 5px;
                    border-radius: 50%;
                    background-color: #1c1e22;
                    cursor: pointer;
                }
                .range {
                    margin-right: 5px;
                }
                .value {
                    font-size: .75rem;
                    padding: 2.5px 7.5px 2.5px 7.5px;
                    background-color: #1c1e22;
                    border-radius: 5px;
                    font-family: 'Open Sans SemiBold';
                }
            }
            &.infos {
                display: flex;
                flex-direction: row;
                .tool {
                    margin-right: 15px;
                    span {
                        font-size: .75rem;
                        font-family: 'Open Sans Regular';
                        i {
                            margin-right: 7.5px;
                        }
                        &.bolder {
                            margin-left: 5px;
                            font-family: 'Open Sans Bold';
                        }
                    }
                    &.info {
                        span {
                            padding: 2.5px 7.5px 2.5px 7.5px;
                            background-color: #24252a;
                            border-radius: 5px;
                            &.success {
                                padding: 2.5px 10px 2.5px 10px;
                                border-radius: 0px;
                                background-color: #009C41;
                            }
                            &.warning {
                                padding: 2.5px 10px 2.5px 10px;
                                border-radius: 0px;
                                background-color: #E67E22;
                            }
                        }
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
            &.traitementBar {
                display: none;
                color: #ffffff;
                flex-direction: row;
                align-items: center;
                span {
                    font-size: .85rem;
                    font-family: 'Open Sans SemiBold';
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 50000;
    &.open-modal {
        animation-name: fadeIn;
        animation-timing-function: ease;
        animation-fill-mode: both;
        animation-duration: .2s;
    }
    &.close-modal {
        animation-name: fadeOut;
        animation-timing-function: ease;
        animation-fill-mode: both;
        animation-duration: .2s;
    }
    .modal-box {
        width: 400px;
        height: auto;
        background-color: #ffffff;
        border: 1px solid #eee;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
        transform: translate(150px);
        opacity: 0;
        animation-name: modalEntrance;
        animation-timing-function: ease;
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-delay: .5s;
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #eee;
            .modal-title {
                padding: 10px 0px 10px 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                .picado-icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    display: none;
                }
                i {
                    margin-right: 5px;
                }
                .title {
                    font-family: 'Open Sans ExtraBold';
                    color: var(--title-color);
                    font-size: .8rem;
                }
            }
            .window-control {
                .control {
                    width: 40px;
                    height: 40px;
                    color: var(--text-color);
                    background-color: #ffffff;
                    border: none;
                    outline: none;
                    &:hover {
                        background-color: #fafafa;
                    }
                }
            }
        }
        .modal-content {
            padding: 10px 15px 10px 15px;
            .text {
                font-family: 'Open Sans Regular';
                color: var(--text-color);
                font-size: .8rem;
            }
            .actions {
                margin-top: 15px;
                text-align: right;
                .action {
                    padding: 5px 15px 5px 15px;
                    border: 1px solid #eee;
                    font-family: 'Open Sans Regular';
                    font-size: .75rem;
                    background-color: #f5f5f5;
                    outline: none;
                    margin-right: 5px;
                    &:last-child {
                        margin-right: 0px;
                    }
                    &:focus {
                        background-color: #eee;
                    }
                    &.do-it {
                        opacity: .5;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.alert {
    position: absolute;
    right: 20px;
    bottom: 40px;
    background-color: #1C2A39;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    visibility: hidden;
    &.show {
        animation-name: alertIn;
        animation-timing-function: ease;
        animation-duration: .5s;
        animation-fill-mode: both;
    }
    &.hide {
        animation-name: alertOut;
        animation-timing-function: ease;
        animation-duration: .5s;
        animation-fill-mode: both;
    }
    .main {
        padding: 10px 20px 30px 20px;
        .header {
            .title {
                display: flex;
                align-items: center;
                color: #ffffff;
                line-height: 0px;
                .far {
                    margin-right: 10px;
                }
                font-family: 'Open Sans Bold';
            }
        }
        .body {
            color: #ffffff;
            .message {
                font-family: 'Open Sans Regular';
                font-size: .8rem;
            }
        }
    }
    .actions {
        padding-right: 30px;
        padding-left: 30px;
        .action {
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.75);
            color: #1C2A39;
        }
    }
    &.success {
        .header {
            .title {
                color: #5EFCA1;
            }
        }
    }
}

.loader {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    &.splash {
        .content {
            animation-name: fadeIn;
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        img {
            margin-bottom: 30px;
        }
        i {
            color: var(--primary-color);
        }
    }
}

.viewer-mode-container {
    width: 185px;
    background-color: rgba(18, 20, 22, .5);
    position: absolute;
    bottom: 40px;
    left: calc(50% - 75px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    display: none;
    &.active {
        display: flex;
    }
    .viewer-mode {
        padding: 10px 12.5px 10px 12.5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        transition: all .4s ease;
        &.active {
            background-color: rgb(18, 20, 22);
        }
        &:hover {
            background-color: rgba(18, 20, 22, .5);
        }
        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .mode {
            width: 40px;
            height: 30px;
            background-color: #1C2A39;
            border-radius: 2px;
            margin-right: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            &:last-child {
                margin-right: 0px;
            }
        }
        &.slider-apparance {
            .mode {
                width: 25px;
                margin-right: 0px;
                &:first-child {
                    opacity: .75;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
                &:last-child {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }
            }
        }
    }
}

@keyframes bounceIn {
    from {
        transform: scale3d(.5, .5, .5);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeIn {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes modalEntrance {
    from {
        transform: translateY(150px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-250px);
    }
    to {
        visibility: visible;
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideToLeft {
    from {
        visibility: visible;
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-250px);
    }
}

@keyframes alertIn {
    from {
        visibility: hidden;
        opacity: 0;
        right: -150px;
    }
    to {
        visibility: visible;
        opacity: 1;
        right: 20px;
    }
}

@keyframes alertOut {
    from {
        visibility: visible;
        opacity: 1;
        right: 20px;
    }
    to {
        visibility: hidden;
        opacity: 0;
        right: -150px;
    }
}

@keyframes leftRightInfinite {
    0% {
        left: 0;
    }
    50% {
        left: 75px;
    }
    100% {
        left: 0;
    }
}