:root {
  --primary-color: #4b99d4;
  --secondary-color: #54c2e6;
  --tertiary-color: #afd8bc;
  --title-color: #303030;
  --text-color: #616161;
  --danger-color: #FF7C6C;
}

@font-face {
  font-family: "Monserrat Bold";
  src: url("../assets/fonts/montserrat/Montserrat-Bold.otf") format("truetype");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans SemiBold";
  src: url("../assets/fonts/open-sans/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../assets/fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans ExtraBold";
  src: url("../assets/fonts/open-sans/OpenSans-ExtraBold.ttf") format("truetype");
}
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
html.__dark,
body.__dark {
  background: #24252a;
}
html.__dark header,
body.__dark header {
  background-color: #1C2A39;
}
html.__dark header .app-title .title,
body.__dark header .app-title .title {
  color: #ffffff;
}
html.__dark header .window-controls,
body.__dark header .window-controls {
  background: transparent;
}
html.__dark header .window-controls .control:last-child,
body.__dark header .window-controls .control:last-child {
  background-color: transparent;
}
html.__dark header .window-controls .control:hover,
body.__dark header .window-controls .control:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

input[type=range] {
  margin-left: 10px;
  margin-right: 10px;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.5px;
  cursor: pointer;
  background: #ffffff;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fafafa;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

header {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
header .picado-logo-menu {
  -webkit-app-region: no-drag;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .picado-logo-menu .logo {
  width: 30px;
  text-align: center;
}
header .picado-logo-menu .logo .pica {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
header .app-title {
  -webkit-user-select: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .app-title .title {
  font-size: 0.7rem;
  color: var(--title-color);
  font-family: "Open Sans Regular";
}
header .window-controls {
  -webkit-app-region: no-drag;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 50%, var(--tertiary-color) 100%);
}
header .window-controls .control {
  width: 40px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: all 0.2s ease;
  background-color: transparent;
  color: #ffffff;
}
header .window-controls .control:last-child {
  background-color: rgba(0, 0, 0, 0.75);
}

.getting-stared {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  visibility: hidden;
}
.getting-stared .say-hi-picado {
  width: 550px;
  padding: 25px 50px 25px 50px;
  background-color: #ffffff;
  border: 1px solid #eee;
  position: relative;
  transition: all 0.8s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.getting-stared .say-hi-picado .pica-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 50%, var(--tertiary-color) 100%);
}
.getting-stared .say-hi-picado .branding {
  text-align: center;
}
.getting-stared .say-hi-picado .welcoming {
  text-align: center;
}
.getting-stared .say-hi-picado .welcoming .title {
  font-family: "Monserrat Bold";
  color: var(--title-color);
}
.getting-stared .say-hi-picado .welcoming .text {
  font-size: 0.75rem;
  font-family: "Open Sans Regular";
  color: var(--text-color);
}
.getting-stared .say-hi-picado .recents-project .header {
  margin-top: 45px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.getting-stared .say-hi-picado .recents-project .header .label {
  font-size: 0.9rem;
  color: var(--title-color);
  font-family: "Open Sans Bold";
}
.getting-stared .say-hi-picado .recents-project .header .display-toggler {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.getting-stared .say-hi-picado .recents-project .header .display-toggler .display {
  width: 30px;
  height: 30px;
  background-color: #fafafa;
  border: none;
  color: #eee;
  transition: all 0.4s ease;
  outline: none;
}
.getting-stared .say-hi-picado .recents-project .header .display-toggler .display:hover {
  background-color: #ffffff;
}
.getting-stared .say-hi-picado .recents-project .header .display-toggler .display.active {
  color: var(--primary-color);
}
.getting-stared .say-hi-picado .recents-project .projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 220px;
  overflow: auto;
  position: relative;
}
.getting-stared .say-hi-picado .recents-project .projects::-webkit-scrollbar {
  width: 2.5px;
}
.getting-stared .say-hi-picado .recents-project .projects#recentlyProjectNode__grid, .getting-stared .say-hi-picado .recents-project .projects#recentlyProjectNode__list {
  display: none;
}
.getting-stared .say-hi-picado .recents-project .projects.grid div {
  width: 100px;
  height: 100px;
  background-color: #fafafa;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease;
  position: relative;
  cursor: pointer;
}
.getting-stared .say-hi-picado .recents-project .projects.grid div img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.getting-stared .say-hi-picado .recents-project .projects.grid div .close-btn {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50px;
  right: 5px;
  opacity: 0;
  transition: all 0.4s ease;
  outline: none;
}
.getting-stared .say-hi-picado .recents-project .projects.grid div:hover .close-btn {
  opacity: 1;
  top: 5px;
}
.getting-stared .say-hi-picado .recents-project .projects.grid div:last-child {
  margin-right: 0px;
}
.getting-stared .say-hi-picado .recents-project .projects.list {
  flex-direction: column;
}
.getting-stared .say-hi-picado .recents-project .projects.list .project {
  width: 75%;
  padding: 10px 15px 10px 15px;
  background-color: #fafafa;
  border: 1px solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
.getting-stared .say-hi-picado .recents-project .projects.list .project:last-child {
  margin-bottom: 0px;
}
.getting-stared .say-hi-picado .recents-project .projects.list .project .left .name {
  font-family: "Open Sans SemiBold";
  color: var(--title-color);
  font-size: 0.9rem;
}
.getting-stared .say-hi-picado .recents-project .projects.list .project .left .info {
  font-family: "Open Sans Regular";
  color: var(--text-color);
  font-size: 0.8rem;
}
.getting-stared .say-hi-picado .recents-project .projects.list .project .right .close-btn {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  color: var(--title-color);
  border: none;
  border-radius: 50%;
}
.getting-stared .say-hi-picado .start-new-project {
  text-align: center;
  margin-top: 30px;
}
.getting-stared .say-hi-picado .start-new-project .start {
  padding: 8px 24px 8px 24px;
  border: none;
  color: #ffffff;
  outline: none;
  font-family: "Open Sans Regular";
  border-radius: 5px;
  transition: all 0.4s ease;
}
.getting-stared .say-hi-picado .start-new-project .start:first-child {
  background-color: var(--primary-color);
}
.getting-stared .say-hi-picado .start-new-project .start:last-child {
  background-color: var(--secondary-color);
}
.getting-stared .say-hi-picado .start-new-project .start.focused {
  opacity: 0.5;
}

.editor {
  margin-top: 30px;
  visibility: hidden;
}
.editor .top-toolbar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.editor .top-toolbar .tools {
  display: flex;
  flex-direction: row;
}
.editor .top-toolbar .tools.shortcut .tool {
  width: 40px;
  height: 30px;
  background-color: #1c1e22;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  margin-right: 5px;
  border-radius: 5px;
  outline: none;
}
.editor .top-toolbar .tools.shortcut .tool:last-child {
  margin-left: 15px;
  margin-right: 0px;
}
.editor .top-toolbar .tools.shortcut .tool:nth-child(6) {
  margin-left: 15px;
}
.editor .top-toolbar .tools.infos {
  justify-content: center;
}
.editor .top-toolbar .tools.infos:nth-child(3) {
  width: 400px;
}
.editor .top-toolbar .tools.infos .tool {
  color: #ffffff;
  margin-right: 10px;
}
.editor .top-toolbar .tools.infos .tool:nth-child(2) {
  margin-right: 20px;
}
.editor .top-toolbar .tools.infos .tool span {
  font-size: 0.8rem;
  font-family: "Open Sans SemiBold";
  margin-right: 5px;
}
.editor .top-toolbar .tools.infos .tool span.box {
  padding: 5px 7.5px 5px 7.5px;
  background-color: #1c1e22;
  margin-right: 0px;
  border-radius: 5px;
  font-family: "Open Sans Regular";
}
.editor .top-toolbar .tools.infos .tool span:last-child {
  margin-right: 0px;
}
.editor .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 91%;
}
.editor .wrapper .sidetools-container {
  width: 350px;
  height: 91%;
  position: relative;
  display: flex;
  align-items: center;
}
.editor .wrapper .sidetools-container .tools-container {
  width: 80px;
  background-color: #1c1e22;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.editor .wrapper .sidetools-container .tools-container .tools {
  list-style: none;
  padding: 0;
  margin: 0;
}
.editor .wrapper .sidetools-container .tools-container .tools .link-tool {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s ease;
}
.editor .wrapper .sidetools-container .tools-container .tools .link-tool.active {
  background-color: #ffffff;
}
.editor .wrapper .sidetools-container .tools-container .tools .link-tool.active a {
  color: #121416;
}
.editor .wrapper .sidetools-container .tools-container .tools .link-tool.active:hover {
  background-color: #ffffff;
}
.editor .wrapper .sidetools-container .tools-container .tools .link-tool a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.editor .wrapper .sidetools-container .tools-container .tools .link-tool:first-child {
  border-top-right-radius: 15px;
}
.editor .wrapper .sidetools-container .tools-container .tools .link-tool:last-child {
  border-bottom-right-radius: 15px;
}
.editor .wrapper .sidetools-container .tools-container .tools .link-tool:hover {
  background-color: #2b3035;
}
.editor .wrapper .sidetools-container .tools-option-container {
  position: relative;
  height: 100%;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-250px);
  background-color: #1c1e22;
  margin-left: 10px;
  color: #ffffff;
  border-radius: 10px;
  padding-bottom: 15px;
  position: absolute;
  top: 0;
  left: 0;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option.show {
  animation-name: slideFromLeft;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-duration: 0.4s;
  animation-fill-mode: both;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option.show .body .item-tool.__0 {
  animation-name: bounceIn;
  animation-timing-function: ease;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-delay: calc(100ms * 0);
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option.show .body .item-tool.__1 {
  animation-name: bounceIn;
  animation-timing-function: ease;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-delay: calc(100ms * 1);
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option.show .body .item-tool.__2 {
  animation-name: bounceIn;
  animation-timing-function: ease;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-delay: calc(100ms * 2);
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option.show .body .item-tool.__3 {
  animation-name: bounceIn;
  animation-timing-function: ease;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-delay: calc(100ms * 3);
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option.show .body .item-tool.__4 {
  animation-name: bounceIn;
  animation-timing-function: ease;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-delay: calc(100ms * 4);
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option.show .body .item-tool.__5 {
  animation-name: bounceIn;
  animation-timing-function: ease;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-delay: calc(100ms * 5);
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option.show .body .item-tool.__6 {
  animation-name: bounceIn;
  animation-timing-function: ease;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-delay: calc(100ms * 6);
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option.show .body .item-tool.__7 {
  animation-name: bounceIn;
  animation-timing-function: ease;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-delay: calc(100ms * 7);
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option.show .body .item-tool.__8 {
  animation-name: bounceIn;
  animation-timing-function: ease;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-delay: calc(100ms * 8);
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option.hide {
  animation-name: slideToLeft;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-duration: 0.4s;
  animation-fill-mode: both;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .header {
  width: 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .header .title {
  font-family: "Open Sans SemiBold";
  font-size: 0.8rem;
  text-transform: uppercase;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .header .action {
  cursor: pointer;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body {
  padding: 15px 20px 15px 20px;
  max-height: 750px;
  overflow: auto;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body::-webkit-scrollbar {
  width: 0px;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body .item-tool {
  padding: 10px 10px 0px 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease;
  border-radius: 10px;
  position: relative;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body .item-tool:hover {
  background-color: #121416;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body .item-tool:last-child {
  margin-bottom: 0px;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body .item-tool.active {
  background-color: #121416;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body .item-tool.hide {
  cursor: not-allowed;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body .item-tool.hide:hover {
  background-color: transparent;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body .item-tool.hide .cover {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body .item-tool .cover {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  background-color: #1C2A39;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body .item-tool .cover .cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body .item-tool .title {
  padding: 10px;
  text-align: center;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body .item-tool .title span {
  font-family: "Open Sans Regular";
  font-size: 0.8rem;
}
.editor .wrapper .sidetools-container .tools-option-container .tools-option .body .item-tool .hided {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25px;
  right: 25px;
  color: #EF5350;
  font-size: 0.8rem;
}
.editor .wrapper .main {
  width: 100%;
  height: 91%;
  max-height: 91%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.editor .wrapper .main::-webkit-scrollbar {
  width: 0px;
}
.editor .wrapper .organization-tools {
  width: 400px;
  height: 91%;
  padding: 10px 15px 10px 15px;
  overflow-y: auto;
}
.editor .wrapper .organization-tools::-webkit-scrollbar {
  width: 0px;
}
.editor .wrapper .organization-tools .section:first-child .header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.editor .wrapper .organization-tools .section:last-child .header {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.editor .wrapper .organization-tools .section .header {
  color: #ffffff;
  font-family: "Open Sans SemiBold";
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1C2A39;
  padding: 0px 15px 0px 15px;
}
.editor .wrapper .organization-tools .section .header .action {
  border: none;
  background-color: transparent;
  color: #ffffff;
  outline: none;
}
.editor .wrapper .organization-tools .section .body {
  overflow: hidden;
  min-height: 300px;
  max-height: 300px;
  transition: all 0.2s ease-out;
  background-color: #121416;
}
.editor .wrapper .organization-tools .section .body.hide {
  min-height: 0px;
  max-height: 0px;
}
.editor .wrapper .organization-tools .section .body .historics {
  max-height: 100%;
  overflow: auto;
}
.editor .wrapper .organization-tools .section .body .historics::-webkit-scrollbar {
  width: 0px;
}
.editor .wrapper .organization-tools .section .body .historics .history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 10px 15px 10px 15px;
}
.editor .wrapper .organization-tools .section .body .historics .history:hover {
  background-color: #1C2A39;
}
.editor .wrapper .organization-tools .section .body .historics .history:last-child {
  margin-bottom: 0px;
}
.editor .wrapper .organization-tools .section .body .historics .history .content {
  color: #ffffff;
  font-family: "Open Sans Regular";
  font-size: 0.75rem;
}
.editor .wrapper .organization-tools .section .body .historics .history .content .title {
  font-family: "Open Sans SemiBold";
}
.editor .wrapper .organization-tools .section .body .historics .history .content .desc {
  color: rgba(255, 255, 255, 0.5);
}
.editor .wrapper .organization-tools .section .body .historics .history .actions .action {
  border: none;
  background-color: transparent;
  color: #ffffff;
}
.editor .wrapper .organization-tools .section .body .ameliorations {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editor .wrapper .organization-tools .section .body .ameliorations .amelioration {
  margin-bottom: 20px;
}
.editor .wrapper .organization-tools .section .body .ameliorations .amelioration:last-child {
  margin-bottom: 0px;
}
.editor .wrapper .organization-tools .section .body .ameliorations .amelioration .name {
  color: #ffffff;
  font-family: "Open Sans SemiBold";
  font-size: 0.9rem;
}
.editor .wrapper .organization-tools .section .body .ameliorations .amelioration .control {
  margin-top: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans Bold";
  font-size: 0.9rem;
}
.editor .wrapper .organization-tools .section .body .ameliorations .amelioration.apply-undo {
  display: none;
}
.editor .wrapper .organization-tools .section .body .ameliorations .amelioration.apply-undo .apply-btn {
  padding: 5px 15px 5px 15px;
  background-color: #1C2A39;
  color: #ffffff;
  font-family: "Open Sans Regular";
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}
.editor .wrapper .organization-tools .section .body .ameliorations .amelioration.apply-undo .apply-btn:last-child {
  margin-right: 0px;
}
.editor .bottom-toolbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1C2A39;
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.editor .bottom-toolbar .tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.editor .bottom-toolbar .tools .tool {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
}
.editor .bottom-toolbar .tools .tool .label {
  font-family: "Open Sans Regular";
  font-size: 0.75rem;
  margin-right: 10px;
  padding: 5px;
  border-radius: 50%;
  background-color: #1c1e22;
  cursor: pointer;
}
.editor .bottom-toolbar .tools .tool .range {
  margin-right: 5px;
}
.editor .bottom-toolbar .tools .tool .value {
  font-size: 0.75rem;
  padding: 2.5px 7.5px 2.5px 7.5px;
  background-color: #1c1e22;
  border-radius: 5px;
  font-family: "Open Sans SemiBold";
}
.editor .bottom-toolbar .tools.infos {
  display: flex;
  flex-direction: row;
}
.editor .bottom-toolbar .tools.infos .tool {
  margin-right: 15px;
}
.editor .bottom-toolbar .tools.infos .tool span {
  font-size: 0.75rem;
  font-family: "Open Sans Regular";
}
.editor .bottom-toolbar .tools.infos .tool span i {
  margin-right: 7.5px;
}
.editor .bottom-toolbar .tools.infos .tool span.bolder {
  margin-left: 5px;
  font-family: "Open Sans Bold";
}
.editor .bottom-toolbar .tools.infos .tool.info span {
  padding: 2.5px 7.5px 2.5px 7.5px;
  background-color: #24252a;
  border-radius: 5px;
}
.editor .bottom-toolbar .tools.infos .tool.info span.success {
  padding: 2.5px 10px 2.5px 10px;
  border-radius: 0px;
  background-color: #009C41;
}
.editor .bottom-toolbar .tools.infos .tool.info span.warning {
  padding: 2.5px 10px 2.5px 10px;
  border-radius: 0px;
  background-color: #E67E22;
}
.editor .bottom-toolbar .tools.infos .tool:last-child {
  margin-right: 0px;
}
.editor .bottom-toolbar .tools.traitementBar {
  display: none;
  color: #ffffff;
  flex-direction: row;
  align-items: center;
}
.editor .bottom-toolbar .tools.traitementBar span {
  font-size: 0.85rem;
  font-family: "Open Sans SemiBold";
  margin-right: 10px;
}
.editor .bottom-toolbar .tools.traitementBar span:last-child {
  margin-right: 0px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 50000;
}
.modal.open-modal {
  animation-name: fadeIn;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-duration: 0.2s;
}
.modal.close-modal {
  animation-name: fadeOut;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-duration: 0.2s;
}
.modal .modal-box {
  width: 400px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transform: translate(150px);
  opacity: 0;
  animation-name: modalEntrance;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0.5s;
}
.modal .modal-box .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.modal .modal-box .header .modal-title {
  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal .modal-box .header .modal-title .picado-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: none;
}
.modal .modal-box .header .modal-title i {
  margin-right: 5px;
}
.modal .modal-box .header .modal-title .title {
  font-family: "Open Sans ExtraBold";
  color: var(--title-color);
  font-size: 0.8rem;
}
.modal .modal-box .header .window-control .control {
  width: 40px;
  height: 40px;
  color: var(--text-color);
  background-color: #ffffff;
  border: none;
  outline: none;
}
.modal .modal-box .header .window-control .control:hover {
  background-color: #fafafa;
}
.modal .modal-box .modal-content {
  padding: 10px 15px 10px 15px;
}
.modal .modal-box .modal-content .text {
  font-family: "Open Sans Regular";
  color: var(--text-color);
  font-size: 0.8rem;
}
.modal .modal-box .modal-content .actions {
  margin-top: 15px;
  text-align: right;
}
.modal .modal-box .modal-content .actions .action {
  padding: 5px 15px 5px 15px;
  border: 1px solid #eee;
  font-family: "Open Sans Regular";
  font-size: 0.75rem;
  background-color: #f5f5f5;
  outline: none;
  margin-right: 5px;
}
.modal .modal-box .modal-content .actions .action:last-child {
  margin-right: 0px;
}
.modal .modal-box .modal-content .actions .action:focus {
  background-color: #eee;
}
.modal .modal-box .modal-content .actions .action.do-it {
  opacity: 0.5;
}
.modal .modal-box .modal-content .actions .action.do-it:hover {
  opacity: 1;
}

.alert {
  position: absolute;
  right: 20px;
  bottom: 40px;
  background-color: #1C2A39;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  visibility: hidden;
}
.alert.show {
  animation-name: alertIn;
  animation-timing-function: ease;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.alert.hide {
  animation-name: alertOut;
  animation-timing-function: ease;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.alert .main {
  padding: 10px 20px 30px 20px;
}
.alert .main .header .title {
  display: flex;
  align-items: center;
  color: #ffffff;
  line-height: 0px;
  font-family: "Open Sans Bold";
}
.alert .main .header .title .far {
  margin-right: 10px;
}
.alert .main .body {
  color: #ffffff;
}
.alert .main .body .message {
  font-family: "Open Sans Regular";
  font-size: 0.8rem;
}
.alert .actions {
  padding-right: 30px;
  padding-left: 30px;
}
.alert .actions .action {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.75);
  color: #1C2A39;
}
.alert.success .header .title {
  color: #5EFCA1;
}

.loader {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.loader.splash .content {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.loader .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.loader .content img {
  margin-bottom: 30px;
}
.loader .content i {
  color: var(--primary-color);
}

.viewer-mode-container {
  width: 185px;
  background-color: rgba(18, 20, 22, 0.5);
  position: absolute;
  bottom: 40px;
  left: calc(50% - 75px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  display: none;
}
.viewer-mode-container.active {
  display: flex;
}
.viewer-mode-container .viewer-mode {
  padding: 10px 12.5px 10px 12.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  transition: all 0.4s ease;
}
.viewer-mode-container .viewer-mode.active {
  background-color: #121416;
}
.viewer-mode-container .viewer-mode:hover {
  background-color: rgba(18, 20, 22, 0.5);
}
.viewer-mode-container .viewer-mode:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.viewer-mode-container .viewer-mode:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.viewer-mode-container .viewer-mode .mode {
  width: 40px;
  height: 30px;
  background-color: #1C2A39;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.viewer-mode-container .viewer-mode .mode:last-child {
  margin-right: 0px;
}
.viewer-mode-container .viewer-mode.slider-apparance .mode {
  width: 25px;
  margin-right: 0px;
}
.viewer-mode-container .viewer-mode.slider-apparance .mode:first-child {
  opacity: 0.75;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.viewer-mode-container .viewer-mode.slider-apparance .mode:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

@keyframes bounceIn {
  from {
    transform: scale3d(0.5, 0.5, 0.5);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes modalEntrance {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-250px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideToLeft {
  from {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-250px);
  }
}
@keyframes alertIn {
  from {
    visibility: hidden;
    opacity: 0;
    right: -150px;
  }
  to {
    visibility: visible;
    opacity: 1;
    right: 20px;
  }
}
@keyframes alertOut {
  from {
    visibility: visible;
    opacity: 1;
    right: 20px;
  }
  to {
    visibility: hidden;
    opacity: 0;
    right: -150px;
  }
}
@keyframes leftRightInfinite {
  0% {
    left: 0;
  }
  50% {
    left: 75px;
  }
  100% {
    left: 0;
  }
}

/*# sourceMappingURL=app.css.map */
